main.main
  -
    const articles = [
      {img: 'img/last-post1.jpg', imgAlt: 'Человек стоящий на пляже', tags: ['Travel', 'Health'], title: '10 мест, ради которых стоит проснуться на рассвете', time: {text: '10 июня 2019', date: '2019-06-10'}, author: 'Неизвестный автор', description: ['Итак, вы в Питере. Раннее утро. Лед с рек и каналов уже ушел, запущены фонтаны города… Музеи еще закрыты. Что посмотреть?']},
      {img: 'img/last-post2.jpg', imgAlt: 'Девушка на пляже занимающаяся йогой', tags: ['Health', 'Lifestyle'], title: 'Йога для начинающих в домашних условиях', time: {text: '10 июня 2019', date: '2019-06-10'}, author: 'Неизвестный автор', description: ['Расскажем, какие упражнения выбрать и как сделать коврик для занятий йогой из того, что можно найти в шкафу.']},
      {img: 'img/last-post3.jpg', imgAlt: 'Девушка на музыкальном фестивале', tags: ['Music'], title: 'Лучшие музыкальные фестивали этого лета', time: {text: '10 июня 2019', date: '2019-06-10'}, author: 'Неизвестный автор', description: ['Лето на носу, а с ним и музыкальные фестивали. На каком же из них вы разобьёте свою палатку?', 'Мы составили список лучших летних фестивалей по всему миру.']},
      {img: 'img/last-post4.jpg', imgAlt: 'Кухонный стол с находящейся на нем едой', tags: ['Lifestyle', 'Food'], title: 'Наукоёмкий подход к кулинарии', time: {text: '10 июня 2019', date: '2019-06-10'}, author: 'Неизвестный автор', description: ['Узнаем основы проектирования новых пищевых и около-пищевых опытов, вскроем физику, химию и микробиологию еды.']},
      {img: 'img/last-post5.jpg', imgAlt: 'Подушка с принтом HANG OUT SPOT', tags: ['Lifestyle', 'Interior', 'Art'], title: 'Делаем модные принты на подушках для интерьера', time: {text: '10 июня 2019', date: '2019-06-10'}, author: 'Неизвестный автор', description: ['Подушки для дивана целесообразнее заказать в съемных чехлах на молнии, если потребуется чистка подушек, проще снять чехлы, чем везти подушку в химчистку.']}
    ]
  each article in articles
    article.post
      .post__preview
        img.post__img(src=article.img, alt=article.imgAlt)
      .post__desc
        ul.post__tags-list
          each tag in article.tags
            li.post__tags-item
              a.post__tags-link(href='#')=tag
        h2.post__title
          a(href='#')=article.title
        .post__info
          time.post__date(datetime=article.time.date)=article.time.text
          span.post__author=article.author
        each text in article.description
          p.post__paragraph=text
