main.main
  -
    const articles = [
      {img: 'img/last-post1.jpg', imgAlt: 'Человек стоящий на пляже', tags: ['Travel', 'Health'], title: '10&nbsp;мест, ради которых стоит проснуться на&nbsp;рассвете', time: {text: '10 июня 2019', date: '2019-06-10'}, author: 'Неизвестный автор', description: ['Итак, вы&nbsp;в&nbsp;Питере. Раннее утро. Лед с&nbsp;рек и&nbsp;каналов уже ушел, запущены фонтаны города... Музеи еще закрыты. Что посмотреть?']},
      {img: 'img/last-post2.jpg', imgAlt: 'Девушка на пляже занимающаяся йогой', tags: ['Health', 'Lifestyle'], title: 'Йога для начинающих в&nbsp;домашних условиях', time: {text: '10 июня 2019', date: '2019-06-10'}, author: 'Неизвестный автор', description: ['Расскажем, какие упражнения выбрать и&nbsp;как сделать коврик для занятий йогой из&nbsp;того, что можно найти в&nbsp;шкафу.']},
      {img: 'img/last-post3.jpg', imgAlt: 'Девушка на музыкальном фестивале', tags: ['Music'], title: 'Лучшие музыкальные фестивали этого лета', time: {text: '10 июня 2019', date: '2019-06-10'}, author: 'Неизвестный автор', description: ['Лето на&nbsp;носу, а&nbsp;с&nbsp;ним и&nbsp;музыкальные фестивали. На&nbsp;каком&nbsp;же из&nbsp;них вы&nbsp;разобьёте свою палатку?&rsquo;, &rsquo;Мы составили список лучших летних фестивалей по&nbsp;всему миру.']},
      {img: 'img/last-post4.jpg', imgAlt: 'Кухонный стол с находящейся на нем едой', tags: ['Lifestyle', 'Food'], title: 'Наукоёмкий подход к&nbsp;кулинарии', time: {text: '10 июня 2019', date: '2019-06-10'}, author: 'Неизвестный автор', description: ['Узнаем основы проектирования новых пищевых и&nbsp;около-пищевых опытов, вскроем физику, химию и&nbsp;микробиологию еды.']},
      {img: 'img/last-post5.jpg', imgAlt: 'Подушка с принтом HANG OUT SPOT', tags: ['Lifestyle', 'Interior', 'Art'], title: 'Делаем модные принты на&nbsp;подушках для интерьера', time: {text: '10 июня 2019', date: '2019-06-10'}, author: 'Неизвестный автор', description: ['Подушки для дивана целесообразнее заказать в&nbsp;съемных чехлах на&nbsp;молнии, если потребуется чистка подушек, проще снять чехлы, чем везти подушку в&nbsp;химчистку.']}
    ]
  each article in articles
    article.post
      .post__preview
        img.post__img(src=article.img, alt=article.imgAlt)
      .post__desc
        ul.post__tags-list
          each tag in article.tags
            li.post__tags-item
              a.post__tags-link(href='#')=tag
        h2.post__title
          a(href='#')!=article.title
        .post__info
          time.post__date(datetime=article.time.date)=article.time.text
          span.post__author=article.author
        each text in article.description
          p.post__paragraph!=text
